@{
	ViewBag.Title = "Pictures - Holiday apartment to let in Los Cristianos, Tenerife, Canary Islands";
	Layout = "~/Views/Shared/_LayoutFullWidth.cshtml";
}

<h1>Photos for rental apartment in Los Cristianos, Tenerife</h1>

<p>
	Here are photos of our lovely holiday apartment to let in Los Cristainos, Tenerife.
</p>

<ul class="gallery">
	<li>
		<label>
			Pool
		</label>
		<img src="~/Content/Images/thumbs/pool-1.jpg" title="Summerland complex pool - @ViewBag.Title" />
	</li>

	<li>
		<label>
			Pool
		</label>
		<img src="~/Content/Images/thumbs/pool-2.jpg" title="Summerland complex pool - @ViewBag.Title" />
	</li>

	<li>
		<label>
			Pool
		</label>
		<img src="~/Content/Images/thumbs/pool-3.jpg" title="Summerland complex pool - @ViewBag.Title" />
	</li>

	<li>
		<label>
			Pool
		</label>
		<img src="~/Content/Images/thumbs/pool-4.jpg" title="Summerland complex pool - @ViewBag.Title" />
	</li>

	<li>
		<label>
			Pool
		</label>
		<img src="~/Content/Images/thumbs/pool-5.jpg" title="Summerland complex pool - @ViewBag.Title" />
	</li>

	<li>
		<label>
			Pool
		</label>
		<img src="~/Content/Images/thumbs/pool-6.jpg" title="Summerland complex pool - @ViewBag.Title" />
	</li>

	<li>
		<label>
			Pool bar
		</label>
		<img src="~/Content/Images/thumbs/pool-7.jpg" title="Summerland complex pool bar - @ViewBag.Title" />
	</li>

	<li>
		<label>
			Balcony
		</label>
		<img src="~/Content/Images/thumbs/Balcony-1.jpg" title="Apartment balcony view - @ViewBag.Title" />
	</li>

	<li>
		<label>
			Balcony
		</label>
		<img src="~/Content/Images/thumbs/Balcony-2.jpg" title="Apartment balcony - @ViewBag.Title" />
	</li>

	<li>
		<label>
			Balcony sea view
		</label>
		<img src="~/Content/Images/thumbs/Balcony-seaview-1.jpg" title="Apartment balcony sea view - @ViewBag.Title" />
	</li>

	<li>
		<label>
			Balcony sea view
		</label>
		<img src="~/Content/Images/thumbs/Balcony-seaview-2.jpg" title="Apartment balcony sea view - @ViewBag.Title" />
	</li>

	<li>
		<label>
			Balcony sea view
		</label>
		<img src="~/Content/Images/thumbs/Balcony-seaview-3.jpg" title="Apartment balcony sea view - @ViewBag.Title" />
	</li>

	<li>
		<label>
			Balcony street view
		</label>
		<img src="~/Content/Images/thumbs/Balcony-streetview-1.jpg" title="Apartment balcony street view - @ViewBag.Title" />
	</li>

	<li>
		<label>
			Balcony street view
		</label>
		<img src="~/Content/Images/thumbs/Balcony-streetview-2.jpg" title="Apartment balcony street view - @ViewBag.Title" />
	</li>

	<li>
		<label>
			Balcony street view
		</label>
		<img src="~/Content/Images/thumbs/Balcony-streetview-3.jpg" title="Apartment balcony street view - @ViewBag.Title" />
	</li>

	<li>
		<label>
			Apartment seen from street
		</label>
		<img src="~/Content/Images/thumbs/apartment-from-street.jpg" title="Apartment seen from street - @ViewBag.Title" />
	</li>

	<li>
		<label>
			Balcony towards El Tiede
		</label>
		<img src="~/Content/Images/thumbs/Balcony-towards-El-Tiede-1.jpg" title="Apartment balcony view - @ViewBag.Title" />
	</li>

	<li>
		<label>
			Balcony towards El Tiede
		</label>
		<img src="~/Content/Images/thumbs/Balcony-towards-El-Tiede-2.jpg" title="Apartment balcony view - @ViewBag.Title" />
	</li>

	<li>
		<label>
			Balcony towards La Gomera
		</label>
		<img src="~/Content/Images/thumbs/Balcony-towards-La-Gomera.jpg" title="Apartment balcony view - @ViewBag.Title" />
	</li>

	<li>
		<label>
			Bathroom
		</label>
		<img src="~/Content/Images/thumbs/Bathroom-1.jpg" title="Apartment bathroom - @ViewBag.Title" />
	</li>

	<li>
		<label>
			Bathroom
		</label>
		<img src="~/Content/Images/thumbs/Bathroom-2.jpg" title="Apartment bathroom - @ViewBag.Title" />
	</li>

	<li>
		<label>
			Bathroom
		</label>
		<img src="~/Content/Images/thumbs/Bathroom-3.jpg" title="Apartment bathroom - @ViewBag.Title" />
	</li>

	<li>
		<label>
			Bedroom
		</label>
		<img src="~/Content/Images/thumbs/Bedroom-1.jpg" title="Apartment bedroom - @ViewBag.Title" />
	</li>

	<li>
		<label>
			Bedroom
		</label>
		<img src="~/Content/Images/thumbs/Bedroom-2.jpg" title="Apartment bedroom - @ViewBag.Title" />
	</li>
	
	<li>
		<label>
			Bedroom
		</label>
		<img src="~/Content/Images/thumbs/Bedroom-3.jpg" title="Apartment bedroom - @ViewBag.Title" />
	</li>
	
	<li>
		<label>
			Bedroom
		</label>
		<img src="~/Content/Images/thumbs/Bedroom-4.jpg" title="Apartment bedroom - @ViewBag.Title" />
	</li>

	<li>
		<label>
			Kitchen
		</label>
		<img src="~/Content/Images/thumbs/Kitchen-1.jpg" title="Apartment kitchen - @ViewBag.Title" />
	</li>
	
	<li>
		<label>
			Kitchen
		</label>
		<img src="~/Content/Images/thumbs/Kitchen-2.jpg" title="Apartment kitchen - @ViewBag.Title" />
	</li>

	@*<li>
		<label>
			Living room
		</label>
		<img src="~/Content/Images/thumbs/Livingroom-1.jpg" title="Apartment living room - @ViewBag.Title" />
	</li>*@

	<li>
		<label>
			Living room
		</label>
		<img src="~/Content/Images/thumbs/Livingroom-2.jpg" title="Apartment living room - @ViewBag.Title" />
	</li>

	<li>
		<label>
			Living room
		</label>
		<img src="~/Content/Images/thumbs/Livingroom-4.jpg" title="Apartment living room - @ViewBag.Title" />
	</li>

</ul>
