
<div id="header">
	<section class="logo">
		<a href="@Url.Action("Index", "Home")" title="Home page" class="float-l">
			<img src="/content/themes/summerland/img/header-logo-sans-text.png" />
		</a>

		<span class="large">
			Holiday rental apartment <br />
		</span>

		<span class="small">
			Summerland, Los Cristianos, Tenerife
		</span>

		<div class="clear"></div>
	</section>

	<ul id="top-nav">
		<li class="item">
			<a href="@Url.Action("index", "Home")" title="Home page">Home</a>
		</li>
		<li class="sep">&nbsp;</li>
		<li class="item">
			<a href="@Url.Action("index", "more-info")" title="More information">More Info</a>
		</li>
		<li class="sep">&nbsp;</li>
		<li class="item">
			<a href="@Url.Action("location", "more-info")" title="Apartment location">Location</a>
		</li>
		<li class="sep">&nbsp;</li>
		<li class="item">
			<a href="@Url.Action("index", "pictures")" title="View apartment pictures">Pictures</a>
		</li>
		<li class="sep">&nbsp;</li>
		<li class="item">
			<a href="@Url.Action("index", "availability")" title="View availability">Availability</a>
		</li>
		<li class="sep">&nbsp;</li>
		<li class="item">
			<a href="@Url.Action("contact-us", "more-info")" title="Contact owner and book">Contact Owner and Book</a>
		</li>
	</ul>
</div>
