
@{
	Layout = "~/Views/Shared/_LayoutFullWidth.cshtml";
	ViewBag.Title = "2018 Availability - holiday rental apartment in Los Cristianos, Tenerife, Canary Islands";
}

<h1>2018 availability at holiday rental apartment</h1>

<p>
	Check 2018 availability at our holiday rental apartment in Los Cristianos, Tenerife.
</p>

<p>
	<a href="@Url.Action("2016", "Availability")" title="Check 2016 availability at our holiday rental apartment in Los Cristianos, Tenerife.">View 2016 availability</a>.

	<span class="pad-right-30">&nbsp;</span>

	<a href="@Url.Action("2017", "Availability")" title="Check 2017 availability at our holiday rental apartment in Los Cristianos, Tenerife.">View 2017 availability</a>.
</p>

<p>
	@Html.Partial("_AvailabilityKey")
</p>

@(Html.Kendo().Calendar()
		  .Name("calendar201801")
		  .Value(new DateTime(2018, 1, 1))
		  .Footer(" ")
		  .MonthTemplate(@"#= BuildDateMarker(data) #")
)

<span class="spacer-h20"></span>

@(Html.Kendo().Calendar()
		  .Name("calendar201802")
		  .Value(new DateTime(2018, 2, 1))
		  .Footer(" ")
		  .MonthTemplate(@"#= BuildDateMarker(data) #")
)

<span class="spacer-h20"></span>

@(Html.Kendo().Calendar()
		  .Name("calendar201803")
		  .Value(new DateTime(2018, 3, 1))
		  .Footer(" ")
		  .MonthTemplate(@"#= BuildDateMarker(data) #")
)

<span class="spacer-h20"></span>

@(Html.Kendo().Calendar()
		  .Name("calendar201804")
		  .Value(new DateTime(2018, 4, 1))
		  .Footer(" ")
		  .MonthTemplate(@"#= BuildDateMarker(data) #")
)

<div class="spacer-v20"></div>

@(Html.Kendo().Calendar()
		  .Name("calendar201805")
		  .Value(new DateTime(2018, 5, 1))
		  .Footer(" ")
		  .MonthTemplate(@"#= BuildDateMarker(data) #")
)

<span class="spacer-h20"></span>

@(Html.Kendo().Calendar()
		  .Name("calendar201806")
		  .Value(new DateTime(2018, 6, 1))
		  .Footer(" ")
		  .MonthTemplate(@"#= BuildDateMarker(data) #")
)

<span class="spacer-h20"></span>

@(Html.Kendo().Calendar()
		  .Name("calendar201807")
		  .Value(new DateTime(2018, 7, 1))
		  .Footer(" ")
		  .MonthTemplate(@"#= BuildDateMarker(data) #")
)

<span class="spacer-h20"></span>

@(Html.Kendo().Calendar()
		  .Name("calendar201808")
		  .Value(new DateTime(2018, 8, 1))
		  .Footer(" ")
		  .MonthTemplate(@"#= BuildDateMarker(data) #")
)

<div class="spacer-v20"></div>

@(Html.Kendo().Calendar()
		  .Name("calendar201809")
		  .Value(new DateTime(2018, 9, 1))
		  .Footer(" ")
		  .MonthTemplate(@"#= BuildDateMarker(data) #")
)

<span class="spacer-h20"></span>

@(Html.Kendo().Calendar()
		  .Name("calendar201810")
		  .Value(new DateTime(2018, 10, 1))
		  .Footer(" ")
		  .MonthTemplate(@"#= BuildDateMarker(data) #")
)

<span class="spacer-h20"></span>

@(Html.Kendo().Calendar()
		  .Name("calendar201811")
		  .Value(new DateTime(2018, 11, 1))
		  .Footer(" ")
		  .MonthTemplate(@"#= BuildDateMarker(data) #")
)

<span class="spacer-h20"></span>

@(Html.Kendo().Calendar()
		  .Name("calendar201812")
		  .Value(new DateTime(2018, 12, 1))
		  .Footer(" ")
		  .MonthTemplate(@"#= BuildDateMarker(data) #")
)

<script type="text/javascript" src="~/Scripts/Summerland.js"></script>
