@{
	ViewBag.Title = "Availability - Holiday apartment for rent in Los Cristianos, Tenerife, Canary Islands";
}

<h1>Availability</h1>

<ul class="availability-years">
	@*<li>
		<a href="@Url.Action("2013", "Availability")" title="View 2013 availability at Summerland, Tenerife">2013 availability</a>
	</li>
	<li>
		<a href="@Url.Action("2014", "Availability")" title="View 2014 availability at Summerland, Tenerife">2014 availability</a>
	</li>*@
	<li>
		<a href="@Url.Action("2015", "Availability")" title="View 2015 availability at Summerland, Tenerife">2015 availability</a>
	</li>
	<li>
		<a href="@Url.Action("2016", "Availability")" title="View 2016 availability at Summerland, Tenerife">2016 availability</a>
	</li>
	<li>
		<a href="@Url.Action("2017", "Availability")" title="View 2017 availability at Summerland, Tenerife">2017 availability</a>
	</li>
</ul>
