@{
	ViewBag.Title = "More Information - Holiday apartment for rent in Los Cristianos, Tenerife, Canary Islands";
}

<h1>More information</h1>

<p>
	This Apartment in the Summerland complex is located in the centre of Los Cristianos close to bars, supermarkets and Bus Station. It is 10 mins. walk to Los Cristianos beach and 15 mins. walk to Las Vistas beach.
</p>

<p>
	On site there is a large communal pool, large sun deck with free sunbeds and a poolside bar 
	which also serves food. The pool and deck area have recently been refurbished.
</p>

<p>
	The one bedroom apartment consists of kitchen/diner/lounge, complete with 32inch flat screen HD TV with a digital microwave receiver which gives 7 analog channels, over 30 digital spanish TV &amp; radio channels (some of which can be changed to English language) and 7 digital UK TV channels i.e. BBC 1, 2, ITV 1, 4, channels 4 &amp; 5, Sky news, MBC2 &amp; MBC action. There is also a DVD player for your entertainment.
	There is also a large double bed settee.
</p>

<img src="/Content/Images/thumbs/Livingroom-4.jpg" class="xfloat-l" title="Apartment living room - @ViewBag.Title">

<img src="/Content/Images/thumbs/pool-3.jpg" class="float-r" title="Summerland pool - @ViewBag.Title">

<p>
	The diner consists of an American style breakfast bar with stools.
</p>

<img src="/Content/Images/thumbs/Kitchen-3.jpg" class="xfloat-l" title="Apartment kitchen - @ViewBag.Title">

<p>
	The kitchen has a large fridge/freezer, a cooker with oven/grill and 4 hobs with overhead extract, electric kettle, toaster, microwave and all cutlery, crockery, pots  and pans, in here  you will also find the iron and hairdryer.
</p>

<p>
	The separate bathroom comprises bath/shower, toilet, bidet, and sink with illuminated mirrored cabinet. In here you will also find the ironing board.
</p>

<img src="/Content/Images/thumbs/bathroom-1.jpg" class="xfloat-l" title="Apartment bedroom - @ViewBag.Title">

<p>
	In the bedroom are 2 single beds, with bedside cabinets and reading lamps, 2 large wardrobes, one with drawers and one with a digital safe. In the wardrobes you will find extra blankets, cushions for the sunbeds and a sunbrella.
</p>

<img src="/Content/Images/thumbs/bedroom-1.jpg" class="xfloat-l" title="Apartment bedroom - @ViewBag.Title">

<p>
	On the large balcony is the washing machine, tables chairs and footstools,  drying rack, base for the sunbrella, wind-down sunblinds and a drinks cooler.
</p>

<img src="/Content/Images/thumbs/balcony-1.jpg" class="xfloat-l" title="Apartment balcony view - @ViewBag.Title">

<img src="/Content/Images/thumbs/Balcony-towards-El-Tiede-2.jpg" class="float-r" title="Apartment balcony view - @ViewBag.Title">

<p>
	The balcony has views of the sea, El Tiede, La Gomera and Montana Chayofita. It also overlooks the street with a lively Spanish bar, mini market, money exchange and restaurant which most evenings features a musician.
</p>

<p>
	Access to the apartment is straightforward as it is only a few yards from the lift which itself is only a few yards from the locked outside door to the complex. If you have problems using steps you can use the lower door which has a ramp.
</p>

<img src="/Content/Images/thumbs/pool-4.jpg" class="xfloat-l" title="Summerland pool - @ViewBag.Title">

<img src="/Content/Images/thumbs/pool-5.jpg" class="float-r" title="Summerland pool - @ViewBag.Title">

@Html.Partial("_PriceList", new PriceList())

<hr />

@*<p>
	The Summerland
	<a href="https://www.facebook.com/SummerlandsPoolSideBar" title="Summerland complex poolside bar Facebook page" target="_blank">poolside bar</a>
	can be contact on
	<a href="tel:0034922795855" title="Call Summerland poolside bar">0034 922 795 855</a>
</p>*@

@*@section Sidebar{
		<p>
			More info custom sidebar
		</p>
	}*@
